* {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    outline: none;
    text-decoration: none;
    font-family: inherit;
    box-sizing: border-box;
}

ol,
ul,
li {
    list-style: none;
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a img {
    border: none;
}

button,
a {
    cursor: pointer;
    color: inherit;
}

textarea {
    resize: none;
}

button,
input,
textarea,
select {
    appearance: none !important;
    -webkit-appearance: none !important;
    border-radius: 0;
}
/* End of reset */


body {
    width: 100vw;
    background: url(img/nasa-wallpaper.jpg) center;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    padding-top: 2%;
    text-align: center;
    text-shadow: 4px 4px 5px rgb(43, 141, 165);
    font-size: 36px;
    color: rgb(208, 228, 228);
}


#nasaCanvas {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 82%;
    height: 70%;
    margin-top: 40px 0;
    padding: 20px;
    border: #fff 1px solid;
    border-radius: 6px;
    box-shadow: 4px 4px 5px rgb(43, 141, 165);
    
    background: rgba(3, 3, 3, 0.6);
    font-weight: 400;
    text-align: justify;
}

#date {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    color: rgb(208, 228, 228);
}

#title,
h3 {
    margin: 2% 0;
    font-size: 22px;
    font-weight: bold;
    color: rgb(43, 141, 165);
    text-align: center;
    text-shadow: 4px 4px 5px rgb(12, 91, 110);
}

h3 {
    color: rgb(208, 228, 228);
}

#explanation {
    width: 48%;
    padding: 20px;
    color: rgb(43, 141, 165);
    font-weight: 400;
    font-size: 14px;
    text-align: justify;
    text-indent: 20px;
}

#img {
    height: 70%;
    text-align: center;
    float: right;
    border: #fff 1px solid;
    box-shadow: 4px 4px 5px rgb(43, 141, 165);
}

input {
    background-color: rgb(208, 228, 228);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}